// COLORS
$base-color:               #b73535;
$inuit-btn-background: $base-color;
$inuit-btn-border-width: 2px;
$inuit-btn-border-color: #791919;
$inuit-widths-columns: (
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10
);


$base-font-stack: Georgia, Cambria, "Times New Roman", Times, serif;

$inuit-enable-margins--large: true;
$inuit-enable-responsive-margins: true;

// Error variables
$error-font-size: 1.2rem;
$error-color: #f00;

// Disabled button
$disabled-background-color: gray;
$disabled-border-color: darkgray;
$disabled-color: lightgray;
$disabled-opacity: 0.65;
