
<span class="dropdown">
  <a href="" class="dropdown-toggle" data-toggle="dropdown" id="suggestion-{{ word }}" aria-haspopup="true" aria-expanded="true"
  	ng-click="toggle_popup()">
	<span ng-show="wrong" style="background-color: #ff5555; color: white;" ng-bind-html="word" />
	<span ng-show="!wrong" ng-bind-html="word" />
  </a>
  <ul class="dropdown-menu" aria-labelledby="suggestion-{{ word }}">
    <li>Suggestions for {{ word }}</li>
    <li ng-repeat="suggestion in suggestions"> <a href="" >{{ suggestion }}</a></li>
  </ul>
</span>
