<form
    novalidate
    ng-submit="login()"
    name="loginForm"
    class="">

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Username"
      ng-model="user.email">
  </div>
  <div class="input-group">
    <input type="password" class="form-control" placeholder="Password"
      ng-model="user.password">
  </div>
  <button type="submit" text="Login" class="btn-btn-default">Login</button>

    </div><div class="layout__item u-1/1 text--right u-mt+">
      <a href="#" class="forgot-password">Forgot your password?</a>
    </div>
  </fieldset>

  {{ user }}
</form>
