


<div class="container">

	<div class="row">
		<div class="md-col-4"><p>First name</p></div>
		<div class="md-col-8"><input ng-model="user.first_name" type="text" /></div>
	</div>
	
	<div class="row">
		<div class="md-col-4"><p>Last name</p></div>
		<div class="md-col-8"><input ng-model="user.last_name" type="text" /></div>
	</div>
	
	<div class="row">
		<div class="md-col-4"><p>Email</p></div>
		<div class="md-col-8"><input ng-model="user.email" type="text" /></div>
	</div>

	<div class="row">
		<div class="md-col-4"><p>Password</p></div>
		<div class="md-col-8"><input ng-model="user.password" type="password" /></div>
	</div>

	<button ng-click="save()">Save</button>
</div>
