input {
  font-size: 1.8rem;
  background: #fff;
  color: $base-color;
  display: inline-block;

  &:focus,
  &:active {
    outline: none;
  }

  &[type="email"],
  &[type="password"] {
    border: none;
    border-bottom: solid 2px $base-color;
  }
  &[type="submit"] {
    &:active {
      color: white;
      background: $base-color;
    }
  }
}

.error {
  font-size: $error-font-size;
  color: $error-color;
}
