


<div class="container">

	<div class="row">
		<div class="jumbotron">
			<div class="md-col-6">
				<p> Section: {{article.section}}</p>
				<p>Authors:</p>
				<ul> 
					<li ng-repeat="author in article.authors">{{author}}</li>
				</ul>
			</div>
			<div class="md-col-6">
				<p>Issues</p>
				<ul>
					<li ng-repeat="issue in article.issues">{{issue}}</li>
				</ul>
			</div>
		</div>
	</div>

	<ul>
		<li ng-repeat="section in sections">
			{{section.name}}
			<button ng-click="setSection(section)">Set as section</button>
		</li>
	</ul>

	<ul>
		<li ng-repeat="author in authors">
			{{author.first_name}} {{author.last_name}} {{author.email}}
			<button ng-show="!author.added" ng-click="addAuthor(author)">Add</button>
			<button ng-show="author.added" ng-click="removeAuthor(author)">Remove</button>
		</li>
	</ul>

	<ul>
		<li ng-repeat="issue in issues">
			{{issue.name}}
			<button ng-show="!issue.added" ng-click="addIssue(issue)">Add</button>
			<button ng-show="issue.added" ng-click="removeIssue(issue)">Remove</button>
		</li>
	</ul>
	

	<button ng-click="save()">Save</button>
</div>
